body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--black);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #212121;
  --black-logo: #000000;
  --blue: #2196f3;
  --grey: #757575;
  --white: #ffffff;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
}
.container {
  width: 1200px;
  margin: auto;
}
.main-background {
  background-color: var(--white);
}
.logo-web {
  font-family: 'Raleway';
  color: var(--blue);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.19;
  display: flex;
  flex-direction: row;
}
.logo-studio {
  font-family: 'Raleway';
  color: var(--black-logo);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.19;
}
.main-header {
  background-color: var(--background-dark);
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.36;
}
.header-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 452px 280px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-list {
  list-style-type: none;
}
.btn {
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--blue);
  text-align: center;
  cursor: pointer;
  border-width: 0px;
  line-height: 1.87;
}
.btn-filter {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-light);
  color: var(--black);
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-width: 0px;
  line-height: 1.62;
}
.button-list .btn-filter:hover,
.button-list .btn-filter:focus {
  color: var(--white);
  background-color: var(--blue);
}
.active-btn-filter {
  color: var(--white);
  background-color: var(--blue);
}
.project-list {
  list-style-type: none;
}
.about-header {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.14;
}
.about-description {
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.skills {
  background-color: var(--white);
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.about {
  background-color: var(--white);
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.team {
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  list-style-type: none;
  line-height: 1.18;
  gap: 30px;
}
.secondary-header {
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.team-name {
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.18;
}
.team-workplace {
  color: var(--grey);
  letter-spacing: 0.03em;
}
.img-decoration {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: var(--black);
  line-height: 2;
}
.project-category {
  letter-spacing: 0.03em;
  color: var(--grey);
  line-height: 1.87;
}
.active-link {
  color: var(--blue);
  text-decoration: none;
  line-height: 1.14;
}
.nav-links {
  line-height: 1.14;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  list-style-type: none;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.nav-links .link {
  color: var(--black);
  text-decoration: none;
}
.nav-links .link:hover,
.nav-links .link:focus {
  color: var(--blue);
}
.contact-info {
  line-height: 1.14;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--white);
  line-height: 1.14;
}
.contact-info .link-info {
  color: var(--grey);
  text-decoration: none;
}
.contact-info .link-info:hover,
.contact-info .link-info:focus {
  color: var(--blue);
}

.footer {
  background-color: var(--background-dark);
}
.logo-studio-footer {
  font-family: 'Raleway';
  color: var(--white);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
