body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--black);
  background-color: var(--background-lightgrey);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #212121;
  --black-logo: #000000;
  --blue: #2196f3;
  --grey: #757575;
  --white: #ffffff;
  --footer-gray: #ffffff99;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
  --background-lightgrey: #e5e5e5;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.wrapper {
  background-color: var(--white);
  width: 1600px;
  margin: 0 auto;
}
.main-background {
  background-color: var(--white);
}
.logo-web {
  font-family: 'Raleway';
  color: var(--blue);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.19;
  display: flex;
  flex-direction: row;
}
.logo-studio {
  font-family: 'Raleway';
  color: var(--black-logo);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.19;
}
.main-header {
  background-color: var(--background-dark);
  color: var(--white);
  text-transform: uppercase;
  padding: 200px 0;
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-header-text {
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.header {
  display: flex;
  align-items: center;
  gap: 93px;
  flex-direction: row;
  padding: 25px 0 24px 0;
  display: flex;
}
.button-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 94px 0 0 0;
}
.btn {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: var(--blue);
  text-align: center;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
}
.btn-filter {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-light);
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border-style: none;
  line-height: 1.62;
  border-radius: 3px;
  height: 38px;
  padding: 6px 22px;
}
.button-list .btn-filter:hover,
.button-list .btn-filter:focus {
  color: var(--white);
  background-color: var(--blue);
}
.active-btn-filter {
  color: var(--white);
  background-color: var(--blue);
}
.project-list {
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}
.about-header {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.14;
  margin: 0 0 10px 0;
}
.about-description {
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.skills {
  background-color: var(--white);
  list-style-type: none;
  display: flex;
  padding: 94px 0 0 0;
  justify-content: center;
  gap: 30px;
}
.about {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding: 94px 0;
}
.about-list {
  background-color: var(--white);
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.team-background {
  background-color: var(--background-light);
  padding: 94px 0;
}
.team {
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  list-style-type: none;
  line-height: 1.18;
  gap: 30px;
  padding: 50px 0;
}
.secondary-header-about {
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.16;
  margin: 0px 0 50px 0;
}
.secondary-header-team {
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.team-name {
  color: var(--black);
  font-weight: 500;
  line-height: 1.18;
  font-size: 16px;
  margin: 30px 0 10px 0;
}
.team-workplace {
  color: var(--grey);
  letter-spacing: 0.03em;
  font-size: 16px;
  margin: 0 0 30px 0;
}
.img-decoration {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: var(--black);
  line-height: 2;
}
.project-category {
  letter-spacing: 0.03em;
  color: var(--grey);
  line-height: 1.87;
}
.active-link {
  color: var(--blue);
  text-decoration: none;
  line-height: 1.14;
}
.nav-links {
  line-height: 1.14;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  list-style-type: none;
  line-height: 1.14;
  display: flex;
  padding: 0;
  gap: 46px;
}
.nav-links .link {
  color: var(--black);
  text-decoration: none;
}
.nav-links .link:hover,
.nav-links .link:focus {
  color: var(--blue);
}
.contact-info {
  line-height: 1.14;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--white);
  line-height: 1.14;
  gap: 50px;
  padding: 0 0 0 278px;
  margin: 0;
  display: flex;
}
.contact-info .link-info {
  color: var(--grey);
  text-decoration: none;
}
.contact-info .link-info:hover,
.contact-info .link-info:focus {
  color: var(--blue);
}

.footer {
  background-color: var(--background-dark);
  padding: 60px 0;
  width: 100%;
}
.footer-container {
  flex-direction: column;
  margin-left: 215px;
  color: var(--white);
}
.contact-footer {
  margin: 20px 0 0 0;
  font-style: normal;
  line-height: 1.14;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.logo-studio-footer {
  font-family: 'Raleway';
  color: var(--white);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.adress-footer {
  margin: 20px 0 0 0;
  font-style: normal;
}
.link-list-footer {
  list-style: none;
}
.link-list-footer li {
  margin: 9px 0 9px 0;
}
.link-info-footer {
  color: var(--footer-gray);
  list-style: none;
  text-decoration: none;
  margin: 9px 0 9px 0;
}
.link-list-footer .link-info-footer:hover,
.link-list-footer .link-info-footer:focus {
  color: var(--blue);
}
