body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--black);
  background-color: var(--white);
  width: 1600px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #212121;
  --black-logo: #000000;
  --blue: #2196f3;
  --grey: #757575;
  --white: #ffffff;
  --footer-gray: #ffffff99;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
  --background-lightgrey: #e5e5e5;
  --border-project-card: #eeeeee;
  --border-bottom-header: #ececec;
  --social-icon-color: #afb1b8;
  --social-icon-background-color-footer: rgba(255, 255, 255, 0.1);
  --label-bg-color: rgba(47, 48, 58, 0.8);
  --blue-overlay: rgba(33, 150, 243, 0.9);
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --close-btn-modal-radius: rgba(0, 0, 0, 0.1);
  --border-newsletter: rgba(255, 255, 255, 0.3);
  --border-input-modal: rgba(33, 33, 33, 0.2);
  --placeholder-form-coment: rgba(117, 117, 117, 0.5);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}

.main-background {
  background-color: var(--white);
}
.header-border-bottom {
  border-bottom: 1px solid var(--border-bottom-header);
}
.our-feature-icon {
  width: 270px;
  height: 120px;
  background-color: var(--background-light);
  margin-bottom: 30px;
  border-radius: 4px;
}
.our-team-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  fill: var(--social-icon-color);
}
.our-team-social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-social-icon:hover,
.our-team-social-icon:focus {
  background-color: var(--blue);
  fill: var(--white);
  cursor: pointer;
}
.our-clients-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 0;
}
.our-clients-icon {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: var(--social-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-icon:hover {
  fill: var(--blue);
  border-color: var(--blue);
  cursor: pointer;
}
.logo-web {
  font-family: 'Raleway';
  color: var(--blue);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.19;
  display: flex;
  flex-direction: row;
}
.logo-studio {
  font-family: 'Raleway';
  color: var(--black-logo);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.19;
}
.main-header {
  background-color: var(--background-dark);
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../images/img-background-top.jpg);
  color: var(--white);
  text-transform: uppercase;
  padding: 200px 0;
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-header-text {
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.header {
  display: flex;
  align-items: center;
  gap: 93px;
  padding: 25px 0 24px 0;
}
.button-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 94px 0 0 0;
}
.btn {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: var(--blue);
  text-align: center;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
}
.btn-filter {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-light);
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border-style: none;
  line-height: 1.62;
  border-radius: 3px;
  height: 38px;
  padding: 6px 22px;
  transition-property: background-color, box-shadow;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list .btn-filter:hover,
.button-list .btn-filter:focus {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.active-btn-filter {
  color: var(--white);
  background-color: var(--blue);
}
.project-list {
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}
.about-header {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.14;
  margin: 0 0 10px 0;
}
.about-description {
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.skills {
  background-color: var(--white);
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.about {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding: 94px 0;
}
.about-list {
  background-color: var(--white);
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.team-background {
  background-color: var(--background-light);
  padding: 94px 0;
}
.team {
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  list-style-type: none;
  line-height: 1.18;
  gap: 30px;
  padding-top: 50px;
}
.secondary-header-about {
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.16;
  margin: 0px 0 50px 0;
}
.secondary-header-team {
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.team-name {
  color: var(--black);
  font-weight: 500;
  line-height: 1.18;
  font-size: 16px;
  margin: 30px 0 10px 0;
}
.team-workplace {
  color: var(--grey);
  letter-spacing: 0.03em;
  font-size: 16px;
  margin: 0 0 30px 0;
}
.img-decoration {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: var(--black);
  line-height: 2;
  padding: 20px 0 0 24px;
}
.project-category {
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  line-height: 1.87;
  padding: 4px 0 20px 24px;
}
.active-link {
  color: var(--blue);
  text-decoration: none;
  line-height: 1.14;
}
.active-link:after {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: '';
  background-color: var(--blue);
  position: relative;
  bottom: 0;
  display: block;
  transform: translateY(30px);
}
.nav-links {
  line-height: 1.14;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  list-style-type: none;
  line-height: 1.14;
  display: flex;
  padding: 0;
  gap: 46px;
}
.nav-links .link {
  color: var(--black);
  text-decoration: none;
  transition-property: color;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links .link:hover,
.nav-links .link:focus {
  color: var(--blue);
}
.contact-info {
  line-height: 1.14;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--white);
  line-height: 1.14;
  gap: 50px;
  padding: 0 0 0 275px;
  margin: 0;
  display: flex;
  transition-property: color;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info .link-info {
  color: var(--grey);
  text-decoration: none;
}
.contact-info .link-info:hover,
.contact-info .link-info:focus {
  color: var(--blue);
}
.header-icons:hover {
  fill: var(--blue);
}
.footer {
  background-color: var(--background-dark);
  padding: 60px 0;
  width: 100%;
}
.footer-container {
  display: flex;
  flex-direction: row;
  margin-left: 215px;
  color: var(--white);
}
.contact-footer {
  margin: 20px 0 0 0;
  font-style: normal;
  line-height: 1.14;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.logo-studio-footer {
  font-family: 'Raleway';
  color: var(--white);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.adress-footer {
  margin: 20px 0 0 0;
  font-style: normal;
}
.link-list-footer {
  list-style: none;
}
.link-list-footer li {
  margin: 9px 0 9px 0;
}
.link-info-footer {
  color: var(--footer-gray);
  list-style: none;
  text-decoration: none;
  margin: 9px 0 9px 0;
  transition-property: color;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-list-footer .link-info-footer:hover,
.link-list-footer .link-info-footer:focus {
  color: var(--blue);
}
.project-card {
  border-bottom: 1px solid var(--border-project-card);
  transition-property: box-shadow;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.footer-social-media-icons {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-left: 70px;
  padding: 0;
}
.footer-social-media-icon:hover {
  background-color: var(--blue);
  cursor: pointer;
}
.footer-social-media-icon {
  fill: var(--white);
  background-color: var(--social-icon-background-color-footer);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-info {
  width: 246px;
  margin: 0;
}
.join-us-header {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 18.62px;
  margin-left: 70px;
  margin-bottom: 20px;
}
.header-icons {
  fill: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icons-spacing {
  margin-right: 10px;
}
.thumb {
  position: relative;
}
.thumb .label {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--label-bg-color);
  padding: 27px 90px;
  position: absolute;
  bottom: 4px;
  margin: 0;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.overlay {
  background-color: var(--blue-overlay);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.box-card {
  position: relative;
  overflow: hidden;
}
.box-card:hover .overlay {
  transform: translateY(0);
}
.overlay > p {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-backdrop);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--white);
  opacity: 1;
  visibility: visible;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border: 1px solid var(--close-btn-modal-radius);
  border-radius: 50%;
  cursor: pointer;
}
.newsletter-form {
  display: flex;
  color: var(--white);
  text-transform: uppercase;
  width: 570px;
  height: 86px;
  margin-left: 78px;
}
.newsletter-input {
  color: var(--footer-gray);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  border: 1px solid var(--border-newsletter);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--background-dark);
  border-radius: 4px;
}
.newsletter-input::placeholder {
  color: var(--footer-gray);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.newsletter-label {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 18.62px;
  margin-bottom: 20px;
}
.submit-btn {
  background-color: var(--blue);
  color: var(--white);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-left: 12px;
  margin-top: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.submit-btn-modal {
  background-color: var(--blue);
  color: var(--white);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-left: 121px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.send-icon {
  fill: var(--white);
  width: 24px;
  height: 24px;
  padding-left: 24px;
}
.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid var(--border-input-modal);
  padding-left: 35px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--blue);
}
.modal-input-coment {
  width: 448px;
  height: 120px;
  border: 1px solid var(--border-input-modal);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}
.modal-form-container {
  position: relative;
  top: 40px;
  left: 40px;
}
.modal-input-icon-person {
  fill: var(--black);
  position: absolute;
  width: 12px;
  height: 12px;
  top: 69px;
  left: 15px;
}
.modal-input-icon-tel {
  fill: var(--black);
  position: absolute;
  width: 13px;
  height: 13px;
  top: 135px;
  left: 15px;
}
.modal-input-icon-email {
  fill: var(--black);
  position: absolute;
  width: 15px;
  height: 12px;
  top: 204px;
  left: 15px;
}
.form-header {
  margin: 8px 40px 12px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--black);
}
.label-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey);
  padding-bottom: 4px;
}
/* .checkbox-label {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey);
  width: 448px;
  padding: 20px 0 30px 15px;
} */
.modal-form-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
  padding-left: 8px;
}
.modal-form-policy-text::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid var(--black);
  border-radius: 2px;
}
.modal-form-policy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  display: flex;
  align-items: center;
  gap: 7px;
}
.modal-form-policy:checked + .modal-form-policy-text::before {
  border-style: none;
  background-color: var(--blue);
  background-image: url('./images/icons.svg#icon-checked');
}
.icon-checked {
  fill: var(--white);
  width: 11px;
  height: 8px;
  display: flex;
  position: absolute;
  top: 390px;
  left: 1px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.blue-text-modal {
  color: var(--blue);
  cursor: pointer;
  text-decoration: underline;
}

.modal-input-coment::placeholder {
  color: var(--placeholder-form-coment);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
