.about {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding: 94px 0;
}
.thumb {
  position: relative;
}
.thumb .thumb__label {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--label-bg-color);
  padding: 27px 90px;
  position: absolute;
  bottom: 4px;
  margin: 0;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
