.button-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 94px 0 0 0;
}
.button-list__btn-filter {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-light);
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border-style: none;
  line-height: 1.62;
  border-radius: 3px;
  height: 38px;
  padding: 6px 22px;
  transition-property: background-color, box-shadow;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list .button-list__btn-filter:hover,
.button-list .button-list__btn-filter:focus {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list__active-btn-filter {
  color: var(--white);
  background-color: var(--blue);
}
