@import '../utils/variables';

.footer {
  background-color: var(--background-dark);
  padding: 60px 0;
  width: 100%;
}
.footer-container {
  display: flex;
  flex-direction: row;
  margin-left: 215px;
  color: var(--white);
}
.footer-info {
  width: 246px;
  margin: 0;
}

.footer__contact {
  margin: 20px 0 0 0;
  font-style: normal;
  line-height: 1.14;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.footer__link-list {
  list-style: none;
}
.footer__link-list li {
  margin: 9px 0 9px 0;
}
.footer__link-info {
  color: var(--footer-gray);
  list-style: none;
  text-decoration: none;
  margin: 9px 0 9px 0;
  transition-property: color;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link-list .footer__link-info:hover,
.footer__link-list .footer__link-info:focus {
  color: var(--blue);
}
