.modal__terms-privacy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}
.modal__terms-privacy-link {
  color: var(--blue);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}
