.modal__form-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4375em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-top: 40px;
  margin-bottom: 12px;
}
.modal__modal-form {
  display: flex;
  flex-direction: column;
}
.modal__form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.875em;
  letter-spacing: 0.01em;
  color: var(--grey);
}
.modal__form-label:focus-within > .modal__modal-form-input {
  border-color: var(--blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-label:focus-within > .modal__modal-input-icon {
  fill: var(--blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__modal-form-input {
  position: relative;
  outline: none;
  width: 448px;
  height: 40px;
  border: 1px solid var(--border-input-modal);
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
}
.modal__modal-input-icon {
  position: absolute;
  top: 44%;
  left: 10%;
  align-items: center;
  justify-content: center;
  fill: var(--black);
}
.modal__modal-form-comment {
  resize: none;
  outline: none;
  width: 448px;
  height: 138px;
  border: 1px solid var(--border-input-modal);
  border-radius: 4px;
  padding: 12px 16px;
}
.modal__modal-form-comment:focus {
  border-color: var(--blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
