.section__skills {
  background-color: var(--white);
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.section__our-feature-icon {
  width: 270px;
  height: 120px;
  background-color: var(--background-light);
  margin-bottom: 30px;
  border-radius: 4px;
}
.section__about-header {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.14;
  margin: 0 0 10px 0;
}
.section__about-description {
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.section__secondary-header-about {
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.16;
  margin: 0px 0 50px 0;
}
.section__about-list {
  background-color: var(--white);
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.section__secondary-header-team {
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.section__team {
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  list-style-type: none;
  line-height: 1.18;
  gap: 30px;
  padding-top: 50px;
}
.section__img-decoration {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.section__team-name {
  color: var(--black);
  font-weight: 500;
  line-height: 1.18;
  font-size: 16px;
  margin: 30px 0 10px 0;
}
.section__team-workplace {
  color: var(--grey);
  letter-spacing: 0.03em;
  font-size: 16px;
  margin: 0 0 30px 0;
}
.section__our-team-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  fill: var(--social-icon-color);
}
.section__our-team-social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section__our-team-social-icon:hover,
.section__our-team-social-icon:focus {
  background-color: var(--blue);
  fill: var(--white);
  cursor: pointer;
}
.section__our-clients-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 0;
}
.section__our-clients-icon {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: var(--social-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section__our-clients-icon:hover {
  fill: var(--blue);
  border-color: var(--blue);
  cursor: pointer;
}
