.section__our-team-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  fill: var(--social-icon-color);
}
.section__our-team-social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section__our-team-social-icon:hover,
.section__our-team-social-icon:focus {
  background-color: var(--blue);
  fill: var(--white);
  cursor: pointer;
}
